<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registration Success</title>
<style type="text/css">
    span {
        display: inline-block;
        width: 200px;
        text-align: left;
    }
</style>
</head>
<body>
    <div align="center">
        <h2>Registration Succeeded!</h2>
        <span>Full name:</span><span>${student.name}</span><br/>
        <span>E-mail:</span><span>${student.email}</span><br/>
        <span>Password:</span><span>${student.password}</span><br/>
        <span>Birthday:</span><span>${student.birthday}</span><br/>
        <span>Gender:</span><span>${student.gender}</span><br/>
        <span>Profession:</span><span>${student.profession}</span><br/>
        <span>Married?:</span><span>${student.married}</span><br/>
        <span>Note:</span><span>${student.note}</span><br/>
    </div>
</body>
</html>